body {
  color: rgb(241, 241, 245);
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

  }
  
  h1 {
  color: rgb(255, 255, 255);
  }


.card {
    box-shadow: 0 6px 10px 0 rgba(252, 41, 4, 0.694);
    transition: 0.3s;
    width: 60%;
  }
  
  .card:hover {
    box-shadow: 0 10px 18px 0 rgba(107, 7, 230, 0.2);
  }
  
  .container {
    padding: 2px 16px;
  }